@import '../../scss/variables';

#eventDetails {
    width: 250px;
    height: 100vh;
    word-break: break-word;
    position: relative;

    .css-h4y409-MuiList-root {
        padding: 0;
    }

    #events {
        height: 100%;
        background-color: $primary-color;
        color: white;
    }

    #eventRoom {
        margin-top: 20px;
    }

    #updateDelete {
        height: 100px;

      
        }


        

    #reservedBy {
        position: relative;
        padding: 10px;
        //background-color: $primary-color;
        margin-top: auto; /* Push "Reserved By" to the bottom */
        font-family: italic;
    }
}
    

