@import '../../scss/variables';

#SaveMonthEvent {
    top: 0;
    left: 150px;
    z-index: 1300;
    width: 100%;

    #background-color {
        height: 100vh;
        position: fixed;
        width: 100vw;
        top:0;
        left:0;
        background-color: rgb(0, 0, 0, 0.2);
        z-index: -1;
    }

    @media screen and (max-width:835px) {
        left: 120px;
    }

    @media screen and (max-width: 600px) {
        left: 0;
    }

    height: 100vh;
    position: fixed;
    width: 100%;
    //background-color: rgb(0, 0, 0, 0.2);
    position: fixed;
    //z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;

    #SaveMonthContainer {
        width: 100%;
        max-width: 400px;
        z-index: 10;

        @media screen and (max-width:835px) {
            max-width: 300px;
        }

        @media screen and (max-width: 600px) {
            max-width: 400px;
        }
    }

    form {
        padding: 10px;
        background-color: white;

        #fromTo {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }

        .date {
            margin-top: 20px;
            width: 45%;
        }

        .input {
            width: 100%;
        }

        #selectContainer {
            display: flex;
            justify-content: space-between;

            .selectTime {
                width: 45%;
            }

            .select {
                width: 100%;
            }
        }

        #selectStart {
            max-height: 100px;
            background-color: red;
        }

        #selectEnd {
            //margin-left: 40px;
        }

        #roomSelect {
            width: 45%;
        }

        #buttonContainer {
            width: 100%;
            background-color: white;
            height: 60px;
        }

        #cancelButton {
            float: left;
        }

        #saveButton {
            float: right;
        }

        #cancelButton, #saveButton {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            height: 40px;
            width: 80px;
            background-color: white;
            border: 2px solid $primary-color;
            cursor: pointer;
            transition: 0.6s;
            margin-left: 10px;

            &:hover {
                background-color: $primary-color;
                color: #fff;
            }
        }
    }

    #saveMonthTitle {
        display: flex;
        background-color: $primary-color;
        color: white;
        justify-content: space-between;
        padding: 10px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;

        button {
            background-color: $primary-color;
            border: none;
            color: white;
            cursor: pointer;
        }
    }
}